@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c9c9c9;
    /* background-color: #2f3642; */
    font-family: 'Graduate', cursive;
}
